body
	font-family: "Proxima Nova", sans-serif
	overflow-x: hidden


a
	text-decoration: none
// 	margin: 0
// 	padding: 0

.slider
	display: none
	position: fixed
	transform: rotate(90.0deg)
	display: flex
	align-items: center
	top: 50%
	left: 180px

	span 
		font-size: 52px
		letter-spacing: 5px
		line-height: 58px
		color: #bea67c
		font-weight: bold

	&__bullets-container
		display: flex
		position: relative
		// flex-direction: column
		margin-left: 40px
	
	&__bullet
		width: 10px
		height: 10px
		background-color: #303030
		border-radius: 50%
		margin-left: 40px

		&--highlighted
			background-color: #bea67c



.hamburger
	display: flex
	align-items: center
	cursor: pointer
	&__text
		font-size: 15px
		letter-spacing: 0px
		line-height: 27px
		color: #ffffff
		font-weight: bold
		+r(458)
			display: none
	

.hamburger-icon
	width: 33px
	margin-right: 12px
	p
		width: 33px
		height: 1px
		background-color: #bea67c
		&:not(:last-child)
			margin-bottom: 8px

.centered
	margin:
		left: auto
		right: 102px

header
	margin-bottom: 200px
	background: #141414 url('/img/footer.png') 
	background-repeat: no-repeat
	background-size: 100%
	background-position: cover

.header-top
	padding: 34px 27px
	display: flex
	align-items: baseline



.nav
	ul
		display: flex
		list-style: none
		li
			font-size: 15px
			letter-spacing: 0px
			line-height: 27px
			color: #ffffff
			font-weight: bold

			&:not(:first-child)
				margin-left: 119px
			&:last-child
				margin-right: 367px

			a 
				color: #ffffff
	+r(1194)
		display: none



.info-icon
	width: 23px
	height: 23px
	color: white
	padding-top: 2px
	text-align: center
	border: 1px solid #ffffff
	border-radius: 50%
	margin-right: 52px
	cursor: pointer
	

.header-right
	display: flex
	align-items: baseline
	+r(458)
		display: none


.header-lang
	color: #ffffff
	display: flex
	cursor: pointer
	font-size: 15px
	letter-spacing: 1px
	font-weight: bold
	span
		margin-right: 6px

.header-intro
	margin-top: 302px
	margin-left: auto
	margin-right: auto
	width: 500px
	display: flex
	flex-direction: column
	+r(668)
		// align-items: center
		width: 100vw
		padding-left: 10px
	+r(388)
	

	&__title
		font-size: 100px
		letter-spacing: 20px
		line-height: 100px
		color: #bea67c
		font-weight: bold
		margin-bottom: 61px

		+r(668)
			font-size: 5em
			width: 100vw

		+r(644)
			font-size: 4em
			text-align: center

		+r(512)
			font-size: 3em

		+r(324)
			font-size: 2.5em


.mouse-icon
	margin-top: 66px
	bottom: 32px
	width: 20px
	height: 30px

.arrow-down-icon
	height: 74px
	width: 50px
	fill: #ffffff
	position: relative
	right: 15px
	margin-top: 24px

.rotated-text
	color: #ffffff
	
.scroll-text
	transform: rotate(90.0deg)
	margin-bottom: 176px
	height: 100px
	width: 1px
	position: relative
	right: 6px
	bottom: 50px

	font-size: 14px
	letter-spacing: 3px
	line-height: 70px
	color: #ffffff
	font-weight: bold


.btn	
	width: 306px
	height: 58px
	border: 2px solid #ffffff
	display: flex
	align-items: center
	justify-content: center
	padding-left: 20px
	cursor: pointer
	&__text
		color: #ffffff
		font-size: 14px
		letter-spacing: 3px
		line-height: 70px
		color: #ffffff
		font-weight: bold
	&__icon
		&--right
			width: 50px
			height: 30px
			transform: rotate(-90.0deg)
		&--orange 
			position: relative
			top: 10px

	+r(638)
		margin: 0 auto

	+r(510)
		width: 50vw
		min-width: 200px
		justify-content: flex-start
	
	+r(388)
		margin: 0 0
	
	

.info-container
	margin-top: 130px
	margin-bottom: 130px
	display: flex
	align-items: center
	justify-content: center
	flex-wrap: wrap




.info-text-container
	// width: 575px
	display: flex
	flex-direction: column

	&--left
		margin-right: 47px

	&--right
		margin-left: 125px
		align-items: flex-end
		justify-content: flex-end
		+r(350)
			margin-left: 0
	&--about
		margin-left: 95px


.info-text-container__title
	margin-bottom: 32px
	display: flex
	align-items: center
	&__text
		font-size: 48px
		letter-spacing: 3px
		line-height: 100px
		color: #010101
		font-weight: bold

		+r(500)
			font-size: 3em

		+r(412)
			font-size: 2em



.info-text-container__title-decor
	position: relative
	width: 151px
	height: 1px
	background-color: black

	&--left
		margin-right: 30px

	&--right
		margin-left: 30px

	+r(350)
		display: none


.info-subtext-container
	display: flex
	margin-bottom: 32px
	&__text
		// height: 74px
		font-size: 18px
		letter-spacing: 0px
		line-height: 25px
		color: #464646
		&--right
			width: 220px

		&--left
			width: 356px
			

		&--about
			width: 356px


		

	&__decor
		margin-top: 9px
		width: 44px
		height: 4px
		background-color: #bea67c
		&--left
			margin-left: 108px
			margin-right: 30px

		&--right
			margin-left: 30px
			margin-right: 108px

		+r(350)
			display: none

	+r(500)
		width: 70vw
	

.info-img
	width: 615px
	height: 400px
	background-repeat: no-repeat
	&--table
		background-size: 140%
		background-position: right
	
	+r(650)
		width: 80vw
		height: 52vw
		background-size: 140%


	
.info-img-container
	box-shadow: 0 0 0 8px rgba(195, 195, 197, 0.2), 0 0 0 6px rgba(195, 195, 197, 0.178)
	border: 0px solid white
	border-radius: 5px
	+r(1194)
		margin-top: 100px

.learn-more
	width: 200px
	height: 50px
	cursor: pointer
	&__text
		font-size: 14px
		letter-spacing: 3px
		line-height: 70px
		color: #000000
		font-weight: bold

	&__underline
		width: 44px
		height: 2px
		background-color: #a9946e
		position: relative
		bottom: 20px


.section-num-container
	position: relative
	&--left
		right: 175px
	&--right
		left: 355px
	+r(676)
		display: none


	width: 120px
	&__num-text
		height: 30px
		font-size: 36px
		letter-spacing: 3px
		line-height: 100px
		color: #000000
		font-weight: bold
	&__num
		display: flex
		
.dot
	width: 6px
	height: 6px
	border-radius: 50%
	background-color: #bea67c
	margin-top: 58px
	







.quality
	margin-top: 114px
	&__title
		text-align: center
		font-size: 48px
		letter-spacing: 3px
		line-height: 100px
		color: #000000
		font-weight: bold
		text-align: center

		+r(350)
			font-size: 2.5em

		+r(268)
			font-size: 2em


	&__title-decor
		width: 44px
		height: 4px
		background-color: #bea67c
		margin: 
			bottom: 25px
			left: auto
			right: auto


	&__subtext
		// width: 574px
		height: 82px
		font-size: 18px
		letter-spacing: 0px
		line-height: 25px
		color: #636262
		text-align: center
		margin-bottom: 80px



$quality-border-size: 272px 

.quality-videos-container
	display: flex
	align-items: center
	justify-content: center
	flex-wrap: wrap
	

.quality-video-block
	margin-bottom: 157px
	+r(624)
		margin: 0 auto

	&:not(:last-child)
		margin-right: 82px
		+r(624)
			margin-right: auto

	&__preview
		display: flex
		flex-direction: column
		margin-bottom: 0
		align-items: center
		cursor: pointer
		height: $quality-border-size
		
		
	&__preview-border
		width: $quality-border-size
		height: $quality-border-size
		border-radius: 136px
		border: 1px solid #e1e1e1

	&__preview-img
		width: 240px
		height: 240px
		background-repeat: no-repeat
		background-size: cover
		border-radius: 50%
		position: relative
		z-index: 100
		bottom: 257px
		left: 16px

	&__preview-icon
		position: relative
		bottom: 227px

	&__decor
		width: 25px
		height: 1px
		background-color: #bea67c
		margin: 
			left: auto
			right: auto
			top: 24px
			bottom: 18px


	
	&__text
		text-align: center
		font-size: 18px
		letter-spacing: 0px
		line-height: 24px
		color: #000000
		text-align: center
// 24 px margin top


.play-icon
	position: relative
	z-index: 200
	width: 71px
	height: 71px


.preview-container	
	height: 325px







.design
	background: #000000fb url('/img/design.png')
	background-position: 0 75%
	background-repeat: no-repeat
	padding: 90px 180px

	+r(1066)
		padding: 90px 30px




.design-container
	width: 100wv
	height: 735px
	display: flex
	flex-direction: column
	margin:
		left: auto
		right: auto
		
	border: 1px solid #958364
	// padding: 212px 665px 181px 218px  





.design-text-container
	display: flex
	flex-direction: column
	// width: 524px
	margin-top: 215px
	margin-left: 212px
	+r(1348)
		margin: auto auto
	
	+r(746)
		padding-left: 10px


	&__title
		font-size: 48px
		letter-spacing: 1px
		line-height: 60px
		color: #bea67c
		font-weight: bold
		display: flex

		+r(756)
			font-size: 2em

		+r(412)
			font-size: 2em

		+r(403)
			font-size: 1.8em


	&__title-decor
		position: relative
		width: 151px
		height: 1px
		background-color: #ffffff
		margin-top: 30px

		&--left
			margin-right: 30px

		// &--right
			// margin-left: 30px
		+r(746)
			display: none


.design-subtext-container
	display: flex
	+r(578)
		width: 80vw
	&__decor
		margin-top: 9px
		width: 44px
		height: 4px
		background-color: #bea67c
		&--left
			margin-left: 108px
			margin-right: 30px
		
		+r(746)
			display: none

		// &--right
		// 	margin-left: 30px
		// 	margin-right: 108px
	&__text
		width: 503px
		height: 115px
		font-size: 18px
		letter-spacing: 0px
		line-height: 25px
		color: #ffffff
		margin-bottom: 47px


.play-min-icon
	width: 25px
	height: 25px
	margin-right: 17px
	
.play-btn
	margin-top: 55px
	padding-right: 30px
	width: 230px







.footer-container
	width: 100%
	background: #252525 url('/img/footer.png') 
	background-repeat: no-repeat
	background-size: 250%
	background-position: right


footer
	padding: 30px 0
	display: flex
	justify-content: space-around
	align-items: center
	flex-wrap: wrap
	// color: white
	
.footer-subtext
	color: #464646
	font-size: 15px
	letter-spacing: 0px
	line-height: 25px
	&--light
		color: #858383

	+r(546)
		width: 100vw
		text-align: center
	
	

.logo
	cursor: pointer
	+r(1194)
		margin: 0 auto

	+r(546)
		margin: 20px auto
		width: 40vw

	&__name
		font-size: 30px
		letter-spacing: 9px
		color: #ffffff
		font-weight: bold
		text-align: center

	&__decor
		position: relative
		width: 54px
		height: 3px
		background-color: #bea67c
		bottom: 18px
		left: 38px
		